@import '../../styles/colors.scss';

.projects-container {
    height: 100%;
    width: 100%;
    color: whitesmoke ;

    .heading-carousel-container{
        display: flex;
        background-color: cornflowerblue;

        .heading-container {
            margin-left: 50%;
            background-color: deeppink;
        }
        .project-carousel-container {
            background-color: darkgray;
        }
    }

    .projects-carousel-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}