@import '../../../styles/colors.scss';
@import '../../main/main.scss';

.pors-container {
    height: calc(100vh - $navbarHeight);
    width: 100%;
    overflow-y: auto;

        &::-webkit-scrollbar{
            display: none;
        }


    .POR-cards-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}