@import '../../styles/colors.scss';

$navbarHeight: 85px;
$decorationLinesWidth: 100px;

.main {
    background-color: $backgroundColor;
    height: 100vh;
    width: 100vw;
    
    .component-container {
        background-color: rgba(184, 192, 189, 0.598);
        height: calc(100vh - $navbarHeight);
        width: calc(100vw - $decorationLinesWidth);
        position: absolute;
        top: 80px;
        left: 50px;
    }
}
