@import '../../styles/colors.scss';

.home-container {
    width: 100%;
    // height: calc(100vh - 170px);
    height: 100%;
    display: flex;
    // flex-direction: row;

    .text-box {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: flex-start;
        position: relative;
        top: 20%;
        height: 100%;
        width: 80%;

        // background-color: rgb(223, 164, 87);

        .greet-text {
            color: $darkTeal;
            font-size:large;
            font-weight: bold;
            letter-spacing: 2px;
        }

        .name-text {
            font-weight: bold;
            text-align: left;
            color: $lightGray;
            font-size: 50px;
        }

        .one-sentence-text {
            color: $lightTeal;
            font-size: xx-large;
            font-weight: bold;
            letter-spacing: 2px;
        }

        .description-text {
            width: 70%;
            margin-top: 50px;
            color: #FFFFFF;
            text-align: left;
            font-weight: 500;
            letter-spacing: 1.5px;
        }
    }

    .icon-container {
        height: 100%;
        width: 30%;
        // background-color: rgb(45, 166, 166);

        .icons{
            height: 60px;
            aspect-ratio: 1/1;
            // width: 60px;
            position: absolute;

            .img {
                height: 100%;
                // aspect-ratio: 1/1;
                object-fit: cover;
            }

            &.C {
                height: 50px;
                right: 200px;
                bottom: 180px;
            }
            &.Cpp {
                height: 80px;
                right: 270px;
                bottom: 250px;
            }
            &.Css {
                right: 100px;
                bottom: 200px;
            }
            &.Github {
                right: 100px;
                bottom: 300px;
            }
            &.Html {
                height: 100px;
                right: 250px;
                bottom: 80px;
            }
            &.Js {
                height: 40px;
                width: 40px;
                right: 310px;
                bottom: 180px;
            }
            &.React {
                height: 100px;
                right: 100px;
                bottom: 80px;
            }
            &.Typescript {
                height: 50px;
                right: 220px;
                bottom: 350px;
            }
        }
    }

    .decoration-box {
        position: absolute;
        bottom: 0;
        left: -5%;
        display: flex;
        height: 35vh;

        // TO-DO 
        // TO change the bottom position of decoration box

        .decoration-img{
            object-fit: cover;
        }

    }
}