@import '../../../styles/colors.scss';

.education-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;

    .educationElem-container {
        height: 100%;
    }
}