@import '../../styles/colors.scss';

.aboutMe-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    // background-color: bisque;
    .text-image-button-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        // background-color: cadetblue;

        .aboutMe-text {
            height: 100%;
            width: 100%;
            text-align: start;
            // background-color: chocolate;
            color: $lightGray;
            letter-spacing: 1px;
        }
        
        .image-button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;
            // background-color: rgb(151, 131, 117);

            .image-container {
                height: 60%;
                width: 50%;
                background-color: crimson;
                box-shadow: 10px 10px 10px $vdarkTeal;
                
                .image {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    filter:drop-shadow();
                }
            }

            .education-button {
                margin-top: 50px;
                // background-color: darkblue;
            }
        }
    }
}